.highlight {
    background-color: yellow;
  }
  
  .error {
    background-color: lightcoral;
    border: red;
  }
  
.popup{
  width: 400px;
  background-color: antiquewhite;
  position: absolute;
  border-radius: 6px;
  top:0;
  left:50%;
  text-align: center;
  transform: translate(-50%,-50%) scale(0.1);
  padding: 0 30px 30px;
  color: rgb(23, 63, 97);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  }
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup img{
  width: 100px;
  border-radius: 50%;
  margin-top: -50px;
  box-shadow: 0 2px 5px rgba(0,0, 0, 0.2) ;
  }

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px
}
.popup button{
  width:100% ;
  margin-top: 50px;
  padding: 10px 0;
  background: antiquewhite;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
}
.popup button:hover {
  background-color: darkblue;
}